body {
  font-family:'Courier New', Courier, monospace;
}

.nav-item .nav-link:hover {
  color: blueviolet !important;
}
.carousel-inner {
  max-height: 25rem;
}

@media (max-width:768px) {
  #intro {
    width: 90% !important;
  }
  #intro > p {
    text-align: center;

  }
   #VZ{
    margin-top: 50px !important;
  }
  #GR{
    margin-top: 50px !important;
  }
}
